html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    background: fixed;
    overflow: hidden; 
}


form{
    /* border: solid 1px #000000; */
    width: 940px;
    height: 600px;
    margin: 200px auto;   
}

.campos [type="text"], [type="email"], [type="tel"], [type="password"]{
    width: 40%;
    margin-top: 30px;
    margin-left: 20px;   
}

#empresa{
    display: block;
    margin-top: 20px;
}

.campos label{
    display: block;
    margin-top: 5px;
}


/* 
header{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

header h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

header p{
    font-size: 18px;
    padding-top: 40px;
}

main{
    width: 940px;
    margin: auto;
}

.campos label{
    margin-top: 10px;
    display: block;
}

.campos input[type="text"]{
    display: block;
}

.campos input[type="text"], .campos input[type="email"], .campos input[type="tel"], .campos input[type="password"]{
    width: 25%;
}

.campos input{
    border-radius: 5px;
}

#informacao{
    margin-top: 10px;
    border-radius: 5px;
}

.botao{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: darkviolet;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.05);
    transition: all 1s;
}

footer{
    text-align: center;
}

#logo-footer{
    width: 10%;
}

.copyright::before{
    content: "©";
}

.copyright{
    padding-bottom: 10px;
    font-size: 20px;
} */