html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    background: fixed;
    background:  linear-gradient(90deg, rgb(152, 56, 241) 30%, rgb(106, 10, 196) 70%);
    overflow: hidden; 
}


form{
    margin: 200px auto; 
    width: 940px;
    height: 600px;   
    background-color: #FFFFFF;   
    border-radius: 25px;
}

form h2{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.campos [type="text"], [type="email"], [type="tel"], [type="password"]{
    width: 40%;
    margin-top: 40px;
    margin-left: 20px;  
    border: none; 
    border-bottom: 1px solid #000000;
}

.campos [type="text"]:focus, [type="email"]:focus, [type="tel"]:focus, [type="password"]:focus{
    outline: none;
    border-bottom: 1px solid blueviolet;
}

#sobrenome, [type="tel"], #Confirm-senha{
    margin-left: 80px;
}

#empresa{
    display: block;
    margin-top: 20px;
}

.campos label{
    display: block;
    margin-top: 5px;
    margin-left: 20px;
}

.submit{
    text-align: center;
}

.botao{
    width: 50%;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(rgb(152, 69, 230),rgb(94, 5, 177));
    color: #FFFFFF;
    display: inline-block;
}

.img-logo{
    text-align: center;
}

#logo{
    width: 20%;
}