html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body{
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(rgb(200, 144, 253) 10%, rgb(172, 131, 255) 25%, rgb(121, 56, 252) 80%, rgb(110, 37, 255));
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

header{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

header h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

header p{
    font-size: 18px;
    padding-top: 40px;
}

main{
    width: 940px;
    margin: auto;
}

.campos label{
    margin-top: 10px;
    display: block;
}

.campos input[type="text"]{
    display: block;
    
}

.campos input{
    border-radius: 5px;
}

#informacao{
    border-radius: 5px;
}

.botao{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: darkviolet;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.05);
    transition: all 1s;
}

footer{
    text-align: center;
}

#logo-footer{
    width: 10%;
}

.copyright{
    padding-bottom: 10px;
    font-size: 20px;
}