html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body{
    font-family: 'Noto Sans', sans-serif;
    background: #FFFFFF;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

.conteudo-principal{
    margin: 70px auto;
    max-width: 940px;
}

.conteudo-principal div{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.dados-login h1{
    margin-left: 20px;
    font-size: 25px;
    padding: 5px;
    color:blueviolet;
    font-weight: bold;
}

form input{
    display: block;
    font-size: 20px;
    border: none;
    padding-top: 25px;
    border-bottom: solid 1px #000000;
}

form label{

}


/* 
header{
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Stick No Bills', sans-serif;
}

header p{
    font-size: 25px;
    padding-top: 40px;
    margin-bottom: 1px;
    font-style: italic;
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin-top: 100px;
    width: 50%;
    height: 400px;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-radius: 10px;
}

.efetuar-login{
    width: 61%;
    padding: 5px 0;
    background: darkviolet;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    display: block;
    cursor: pointer;
}

.efetuar-login:hover{
    transform: scale(1.05);
}

.link{
    display: inline;
    font-size: 16px;
}

.previa{
    background: red;
}

footer{
    text-align: center;
 }

 #logo-footer{
    width: 10%;
}

.copyright::before{
    content: "©";
}

.copyright{
    padding-bottom: 10px;
    font-size: 20px;
} */